          
            <h4>Edit Record {{studentIndex + 1}} of {{maxIndex + 1}}</h4>
            
            <div class="form-group">
                <label for="sid">SID:</label>
                <input type="text" class="form-control" id="sid" ng-model="student.sid" readonly>
           </div>
           <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" ng-model="student.first_name" readonly>
           </div>
           <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" ng-model="student.last_name" readonly>
           </div>
           <div class="form-group">
                <label for="midterm">Midterm:</label>
                <input type="text" class="form-control" id="midterm" ng-model="student.midterm">
           </div>
           <div class="form-group">
                <label for="final">Final:</label>
                <input type="text" class="form-control" id="final" ng-model="student.final">
           </div>
           <div class="form-group">
                <label for="major">Major:</label>
                <input type="text" class="form-control" id="major" ng-model="student.major" readonly>
           </div>
           <button type="button" class="btn btn-primary" ng-click="previousRecord()"> < previous </button> &nbsp; 
           <button type="button" class="btn btn-primary" ng-click="nextRecord()"> next ></button> &nbsp; 
           <button type="button" class="btn btn-primary" ng-click="updateRecord()">Update</button> &nbsp; 
           <button type="button" class="btn btn-primary" ng-click="deleteRecord()">Delete</button>
        <br><br>

